/* Font */
@font-face {
	font-family: "BungeeInline";
	src: url("../fonts/BungeeInline/BungeeInline-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/Raleway-Light.ttf") format("truetype");
}

/* screen */
@media screen and (max-width: 576px) {
	.modal-content {
		width: 90% !important;
	}
}

@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
	.col-sm-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.col-sm-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-sm-12 {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.col-md-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.col-md-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-md-12 {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.col-lg-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.col-lg-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-lg-6:hover {
		z-index: 2;
	}
	.col-lg-12 {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.col-xl-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.col-xl-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-xl-12 {
		flex: 100%;
		max-width: 100%;
	}
}

/* Body */
body {
	margin: 0;
	background-image: url("../img/bord.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff;
	font-family: "Raleway";
	line-height: 1.5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.hidden {
	display: none !important;
}

.text-center {
	text-align: center;
}

#message {
	min-height: 1.5em;
	font-size: 1.5em;
}

/* Title */
h1,
h2,
h3 {
	text-align: center;
	text-transform: uppercase;
	font-family: "BungeeInline";
	margin-bottom: 0.5rem;
	line-height: 1.2;
	font-weight: 100;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
	font-weight: 600;
}

.title a {
	color: #f0a637;
	text-decoration: none;
}

.popular-title {
	color: #499ce0;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #3d7aca, 0 0 35px #3d7aca, 0 0 40px #3d7aca, 0 0 50px #3d7aca, 0 0 75px #3d7aca;
}

.title {
    	color: #f0a637;
}

.title2 {
	color: #42c52e;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #42c52e, 0 0 35px #42c52e, 0 0 40px #42c52e, 0 0 50px #42c52e, 0 0 75px #42c52e;
}

#players_btn {
	float: left;
	font-size: 1.5em;
    	cursor: pointer;
}

.add_player {
	font-size: 1.5em;
	cursor: pointer;
}

.fa-trash-can {
	color: rgb(131, 22, 22);
	cursor: pointer;
}

#rules_btn {
	float: right;
	font-size: 1.5em;
	cursor: pointer;
}

/* Button */
button {
    	font-size: 1em;
	cursor: pointer;
}

.btn {
	margin: 5px;
	padding: 1px 6px;
}

/* Margin */
.mt-1 {
	margin-top: 0.25rem !important;
}

.mt-2 {
	margin-top: 0.5rem !important;
}

.mt-3 {
	margin-top: 1rem !important;
}

.mt-4 {
	margin-top: 1.5rem !important;
}

.mt-5 {
	margin-top: 3rem !important;
}

.mb-1 {
	margin-bottom: 0.25rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.mb-4 {
	margin-bottom: 1.5rem !important;
}

.mb-5 {
	margin-bottom: 3rem !important;
}

.ml-1 {
	margin-left: 0.25rem !important;
}

.ml-2 {
	margin-left: 0.5rem !important;
}

.ml-3 {
	margin-left: 1rem !important;
}

.ml-4 {
	margin-left: 1.5rem !important;
}

.ml-5 {
	margin-left: 3rem !important;
}

.mr-1 {
	margin-right: 0.25rem !important;
}

.mr-2 {
	margin-right: 0.5rem !important;
}

.mr-3 {
	margin-right: 1rem !important;
}

.mr-4 {
	margin-right: 1.5rem !important;
}

.mr-5 {
	margin-right: 3rem !important;
}

/* Padding */
.pt-1 {
	padding-top: 0.25rem !important;
}

.pt-2 {
	padding-top: 0.5rem !important;
}

.pt-3 {
	padding-top: 1rem !important;
}

.pt-4 {
	padding-top: 1.5rem !important;
}

.pt-5 {
	padding-top: 3rem !important;
}

.pb-1 {
	padding-bottom: 0.25rem !important;
}

.pb-2 {
	padding-bottom: 0.5rem !important;
}

.pb-3 {
	padding-bottom: 1rem !important;
}

.pb-4 {
	padding-bottom: 1.5rem !important;
}

.pb-5 {
	padding-bottom: 3rem !important;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.1em;
}

a {
	color: #9acd32;
}

.fa-wine-glass {
	color: #9a1515;
}

.dices-block {
	margin-top: 35px;
	font-size: 110px;
}

.center {
	margin: 0 auto;
	display: none;
}

.row {
	margin: 0px;
	text-align: center;
}

.modal {
	position: fixed;
	z-index: 3;
	padding-top: 75px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	background-color: #00000099;
}

.modal.fade-in {
	animation: modalFadeIn 0.5s;
}
@keyframes modalFadeIn {
	0% {
	  background-color:transparent;
	}
	100% {
	  background-color:#00000099;
	}
}

.modal.fade-out {
	animation: modalFadeOut 0.5s;
}
@keyframes modalFadeOut {
	0% {
	  background-color:#00000099;
	}
	100% {
	  background-color:transparent;
	}
}

.modal-content {
	background-color: #2a2a2a;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	min-height: 70%;
	background-size: cover;
    	background-repeat: no-repeat;
}

#biskit_players .modal-content {
	width: 30%;
}

.modal-content.move-up {
	animation: moveUp 0.5s;
}
@keyframes moveUp {
	0% {
		transform:scale(0.5);
	}
	100% {
		transform:scale(1);
	}
}

.modal-content.move-down {
	animation: moveDown 0.5s;
}
@keyframes moveDown {
	0% {
		transform:scale(1);
	}
	100% {
		transform:scale(0);
	}
}

.close {
	float: right;
	cursor: pointer;
	font-size: 1em;
	transition: all 0.3s ease-out;
	width: 28px;
	height: 28px;
	font-family: 'Font Awesome 6 Brands';
	border-radius: 50%;
	border: 2px solid transparent;
	text-align: center;
}

.close:hover {
	-webkit-transform: scale(0.8) rotateZ(90deg);
	border-radius: 50%;
	border: 2px solid;
}

@media (max-width: 990px) {
    body {
        background-color: #212121;
        background-image: none;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.7em;
    }
}
